#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarjeta-contador{

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 30px;
  background-color:dimgrey;
  box-shadow: -1px 1px 0px 1px rgba(255,228,196,0.5);
-webkit-box-shadow: -1px 1px 0px 1px rgba(255,228,196,0.5);
-moz-box-shadow: -1px 1px 0px 1px rgba(255,228,196,0.5);
}
.texto-contador {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}

.botones-contador {

  display: flex;    
  gap: 15px;
}